$('.notice').html('');
$('.question-errors ul').html('');
<% if @question.errors.present? %>
	<% @question.errors.full_messages.each do |message| %>
		$('.question-errors ul').append( '<li><%= j message %></li>' );
	<% end %>
<% else %>
	$('.notice').html( '<%= flash[:notice] %>' );
	$( '.question' ).html( '<%= j render 'questions/question' %>' );
	$('form.edit_question').hide();
	$('.edit-button-question').show();
<% end %>

