$('.notice').html('');
$('.answer-errors ul').html('');
$('#answer_body').val('');
<% if @answer.errors.present? %>
	<% @answer.errors.full_messages.each do |message| %>
		$('.answer-errors ul').append( '<li><%= j message %></li>' );
	<% end %>
<% else %>
	$('.notice').html( '<%= j flash[:notice] %>' );
	$('.answers').append( '<%= j render @answer %>' );
<% end %>
