$('.notice').html('');
$('.answer-errors ul').html('');
<% if @answer.errors.present? %>
	<% @answer.errors.full_messages.each do |message| %>
		$('.answer-errors ul').append( '<li><%= j message %></li>' );
	<% end %>
<% else %>
	$('.notice').html( '<%= flash[:notice] %>' );
	$('.answer#answer_<%= @answer.id %>').replaceWith( '<%= j render @answer %>' );
	$('.edit_answer').hide();
	$('.edit-button-answer').show();
<% end %>
